html,
body,#app {
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 1200px;
  overflow-y: hidden;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica', 'PingFangSC-Regular', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Arial;
}

ul {
  word-break: break-all;
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 9px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 9px;
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.25);
}
::-moz-placeholder {
  color: rgba(0,0,0,0.25);
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.25);
}
